.example-container {
    display: flex;
    background: none !important;
  }
.right {
float: right;
}

mat-slider {
    margin: -60px;
    margin-top: -90px;
}
.sidenavContent{
    background: none !important;
    margin-right: 5px;
    margin-left: 5px;
}
.titles{
    margin-left: 2px !important;
}

p.topSpace{
    margin-top: 10px;
}