<mat-sidenav-container class="example-container" id="main">
    <mat-sidenav #sidenav [mode]="mode" [(opened)]="opened" style="background: none !important;">
        <div>
            <button class="right" mat-button (click)="sidenav.toggle();sizer()"><mat-icon>exit_to_app</mat-icon></button>
        </div>
        <div  class = "sidenavContent">
            Sidenav content>
            <p><button mat-button (click)="viewTop()">Top</button></p>
            <p><button mat-button (click)="viewLeft()">Left</button></p>
            <p><button mat-button (click)="viewRight()">Right</button></p>
            <p><button mat-button (click)="rotateHand()">Rotate</button></p>
            <p>Hand coordinates</p>
            <p>x</p>
            <mat-slider min="1" max="359"  id="myRangeHandX" #rangerx (input)="passHandRotationX(rangerx.value)"></mat-slider>
            <p>y</p>
            <mat-slider min="1" max="359" id="myRangeHandY" #rangery (input)="passHandRotationY(rangery.value)"></mat-slider>
            <p>z</p>
            <mat-slider min="1" max="359"  id="myRangeHandZ" #rangerz (input)="passHandRotationZ(rangerz.value)"></mat-slider>
            <p>zoom</p>
            <mat-slider min="0.4" max="10" value={{zoomValue}} step="0.00000001"  id="myRangeZoom" #rangerzoom (input)="cameraZoom(rangerzoom.value)"></mat-slider>
        </div>
        <app-ui-infobar-bottom></app-ui-infobar-bottom>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <button mat-button (click)="sidenav.toggle();sizer()"><mat-icon>menu</mat-icon></button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  