.example-container {
    display: flex;
    background: none !important;
  }
.right {
float: right;
}

mat-slider {
    margin: -50px;
}
.sidenavContent{
    background: none !important;
    margin-left: 50px;
    margin-right: 5px;
}